/* Helvetica */

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica.woff") format("woff"),
    url("../fonts/Helvetica/Helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica-Oblique.woff") format("woff"),
    url("../fonts/Helvetica/Helvetica-Oblique.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica-BoldOblique.woff") format("woff"),
    url("../fonts/Helvetica/Helvetica-BoldOblique.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica-Light.woff") format("woff"),
    url("../fonts/Helvetica/Helvetica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica-Bold.woff") format("woff"),
    url("../fonts/Helvetica/Helvetica-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica-LightOblique.woff") format("woff"),
    url("../fonts/Helvetica/Helvetica-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Poppins */

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.eot");
  src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"),
    url("../fonts/Poppins/Poppins-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-ExtraLightItalic.woff") format("woff"),
    url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.eot");
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"),
    url("../fonts/Poppins/Poppins-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-ExtraBoldItalic.woff") format("woff"),
    url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBold.eot");
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"),
    url("../fonts/Poppins/Poppins-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-ExtraBold.woff") format("woff"),
    url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Thin.eot");
  src: local("Poppins Thin"), local("Poppins-Thin"),
    url("../fonts/Poppins/Poppins-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-Thin.woff") format("woff"),
    url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BoldItalic.eot");
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"),
    url("../fonts/Poppins/Poppins-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-BoldItalic.woff") format("woff"),
    url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.eot");
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"),
    url("../fonts/Poppins/Poppins-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-SemiBoldItalic.woff") format("woff"),
    url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Black.eot");
  src: local("Poppins Black"), local("Poppins-Black"),
    url("../fonts/Poppins/Poppins-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-Black.woff") format("woff"),
    url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ThinItalic.eot");
  src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"),
    url("../fonts/Poppins/Poppins-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-ThinItalic.woff") format("woff"),
    url("../fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("../fonts/Poppins/Poppins-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-Medium.woff") format("woff"),
    url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLight.eot");
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"),
    url("../fonts/Poppins/Poppins-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-ExtraLight.woff") format("woff"),
    url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-LightItalic.eot");
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"),
    url("../fonts/Poppins/Poppins-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-LightItalic.woff") format("woff"),
    url("../fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../fonts/Poppins/Poppins-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-Regular.woff") format("woff"),
    url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-MediumItalic.eot");
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"),
    url("../fonts/Poppins/Poppins-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-MediumItalic.woff") format("woff"),
    url("../fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("../fonts/Poppins/Poppins-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-SemiBold.woff") format("woff"),
    url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.eot");
  src: local("Poppins Light"), local("Poppins-Light"),
    url("../fonts/Poppins/Poppins-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-Light.woff") format("woff"),
    url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BlackItalic.eot");
  src: local("Poppins Black Italic"), local("Poppins-BlackItalic"),
    url("../fonts/Poppins/Poppins-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-BlackItalic.woff") format("woff"),
    url("../fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Italic.eot");
  src: local("Poppins Italic"), local("Poppins-Italic"),
    url("../fonts/Poppins/Poppins-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-Italic.woff") format("woff"),
    url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../fonts/Poppins/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-Bold.woff") format("woff"),
    url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Roboto */

@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("../fonts/Roboto/Robotothin.woff2") format("woff2"),
    url("../fonts/Roboto/Robotothin.woff") format("woff"),
    url("../fonts/Roboto/Robotothin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"),
    url("../fonts/Roboto/Robotothinitalic.woff2") format("woff2"),
    url("../fonts/Roboto/Robotothinitalic.woff") format("woff"),
    url("../fonts/Roboto/Robotothinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/Roboto/Robotolight.woff2") format("woff2"),
    url("../fonts/Roboto/Robotolight.woff") format("woff"),
    url("../fonts/Roboto/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("../fonts/Roboto/Robotolightitalic.woff2") format("woff2"),
    url("../fonts/Roboto/Robotolightitalic.woff") format("woff"),
    url("../fonts/Roboto/Robotolightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/Roboto/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto.woff") format("woff"),
    url("../fonts/Roboto/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url("../fonts/Roboto/Robotoitalic.woff2") format("woff2"),
    url("../fonts/Roboto/Robotoitalic.woff") format("woff"),
    url("../fonts/Roboto/Robotoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/Roboto/Robotomedium.woff2") format("woff2"),
    url("../fonts/Roboto/Robotomedium.woff") format("woff"),
    url("../fonts/Roboto/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"),
    url("../fonts/Roboto/Robotomediumitalic.woff2") format("woff2"),
    url("../fonts/Roboto/Robotomediumitalic.woff") format("woff"),
    url("../fonts/Roboto/Robotomediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/Roboto/Robotobold.woff2") format("woff2"),
    url("../fonts/Roboto/Robotobold.woff") format("woff"),
    url("../fonts/Roboto/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
    url("../fonts/Roboto/Robotobolditalic.woff2") format("woff2"),
    url("../fonts/Roboto/Robotobolditalic.woff") format("woff"),
    url("../fonts/Roboto/Robotobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/Roboto/Robotoblack.woff2") format("woff2"),
    url("../fonts/Roboto/Robotoblack.woff") format("woff"),
    url("../fonts/Roboto/Robotoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"),
    url("../fonts/Roboto/Robotoblackitalic.woff2") format("woff2"),
    url("../fonts/Roboto/Robotoblackitalic.woff") format("woff"),
    url("../fonts/Roboto/Robotoblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
