@import "./variables.scss";
@import "./fonts.scss";

/* Global */

body {
  margin: 0;
  font-family: "Helvetica", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main-wrapper {
  margin-left: 10px;
  margin-right: 10px;

  @media (min-width: $desktop-min-width) {
    margin-left: 27px;
    margin-right: 27px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: (0 0 0 0);
  overflow: hidden;
}

.bg-content {
  background-color: $bg-admin;
}

/* Form Elements */

.field-form {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 8.5px;
  margin-top: 16px;
}

.label {
  color: $blue-gray-dark;
  width: max-content;
  font-size: 10.5px;
  line-height: 12px;
}

.input {
  color: $blue-gray;
  padding: 8px 11px;
  border: 0.5px solid #becad6;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: "Helvetica", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;

  &:hover,
  &:focus {
    outline: 0;
    border: 0.5px solid $blue;
  }

  &::placeholder {
    font-family: "Helvetica", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    color: $blue-gray-dark;
  }

  &_error {
    border-color: $red;
  }

  &_search {
    height: 34px;
    border: 0;
    outline: 0;
    width: 100%;

    font-family: "Helvetica", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.0928572px;

    &::placeholder {
      color: $blue-gray-dark;
    }

    &:hover,
    &:focus {
      border: 0.5px solid $blue;

      &::-webkit-search-cancel-button {
        opacity: 1;
      }
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: 10px;
      width: 10px;
      fill: $blue;
      content: url("../icons/search-cancel.svg");
      opacity: 0.5;
    }
  }
}

.error-message {
  position: absolute;
  bottom: -14px;
  width: 60%;
  color: $red;
  font-size: 10px;
  line-height: 11px;
}

.link {
  color: $blue;
  font-size: 10.5px;
  line-height: 12px;

  &:hover,
  &:focus {
    color: darken($blue, 10%);
  }

  &:active {
    color: darken($blue, 20%);
  }

  &_none-decoration {
    text-decoration: none;
  }
}

/* Button */

.button {
  min-width: 110px;
  min-height: 29px;
  color: $white;
  border: 0.5px solid $blue;
  background-color: $blue;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 10px;

  font-family: "Helvetica", -apple-system, BlinkMacSystemFont, sans-serif;

  &:hover,
  &:focus {
    background-color: darken($blue, 5%);
  }

  &:active {
    background-color: darken($blue, 10%);
  }

  &_orders {
    background: $white;
    border: 0.5px solid $gray-select;
    color: $black;
    min-width: 72px;

    &:hover,
    &:focus {
      background-color: $blue;
      color: $white;
    }

    &:active {
      background-color: darken($gray-light, 10%);
    }

    svg {
      margin-right: 3.5px;
    }
  }

  &_red {
    background-color: $red;

    &:hover,
    &:focus {
      background-color: darken($red, 5%);
    }

    &:active {
      background-color: darken($red, 10%);
    }
  }
}

/* Button Group */

.group-button {
  & > .button:first-child {
    border-radius: 4px 0 0 4px;
  }

  .button {
    border-radius: 0;
  }

  & > .button:last-child {
    border-radius: 0 4px 4px 0;
  }
}

/* Checkbox */

.checkbox-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 21px;

  &__item {
    position: relative;
    color: $gray;

    .checkbutton {
      & + label::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 0;
        width: 13px;
        height: 13px;
        border: 0.5px solid $gray-select;
        border-radius: 1px;
      }

      &:checked + label::after {
        content: url(../icons/checkbox-on.svg);
        position: absolute;
        width: 8px;
        height: 6px;
        top: 1px;
        left: -16px;
      }

      &:hover + label::before,
      &:focus + label::before,
      &:checked + label::before {
        border-color: $main-accent;
      }

      &:hover + label,
      &:focus + label,
      &:checked + label {
        color: $black;
        cursor: pointer;
      }
    }
  }
}

/* Main interface */

.page-title {
  font-size: 29px;
  line-height: 33px;
  letter-spacing: -0.725px;
  color: $blue-gray;
  margin: 28.5px 0;
}

.card {
  background-color: $white;
  box-shadow: 0px 2px 0px rgba(90, 97, 105, 0.11),
    0px 4px 8px rgba(90, 97, 105, 0.12), 0px 10px 10px rgba(90, 97, 105, 0.06),
    0px 7px 70px rgba(90, 97, 105, 0.1);
  border-radius: 9px;

  &__top,
  &__bottom {
    box-shadow: 0px -0.5px 0px #e0e2e8, 0px 0.5px 0px #e0e2e8;
    padding: 21px;
  }

  &__top {
    padding: 16px 21px;
  }
}

.text {
  &_black {
    color: $black;
  }

  &_bold {
    font-weight: 700;
  }
}

.label {
  width: max-content;
}

/* Paginate */

.paginate {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 7px;
  list-style: none;
  padding: 0;
  margin: 0;

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: -0.471429px;
  color: $blue;

  &__page,
  &__prev-page,
  &__next-page {
    cursor: pointer;
  }

  &__active {
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid $gray;
    padding: 2px 6px;
    border-color: $blue;
    background-color: $blue;
    color: $white;
  }
}
