/* Viewport */
$tablet-width: 768px;
$desktop-min-width: 1024px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

/* Colors */
$main-accent: #0ec261;
$blue: #007bff;
$black: #121212;
$gray: #999999;
$gray-active: #c4c4c4;
$gray-light: #eeeeee;
$bg-admin: #f5f6f8;
$white: #ffffff;
