/* Viewport */
$tablet-width: 768px;
$desktop-min-width: 1024px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

/* Colors */
$main-accent: #0ec261;
$blue: #007bff;
$red: #c4183c;
$black: #121212;
$gray-dark: #818ea3;
$gray: #999999;
$gray-select: #becad6;
$gray-active: #c4c4c4;
$gray-error: #cacedb;
$gray-light: #eeeeee;
$bg-admin: #f5f6f8;
$bg-admin-light: #fbfbfb;
$blue-gray: #3d5170;
$blue-gray-dark: #495057;
$shadow-gray: #e1e5eb;
$white: #ffffff;
