@import "../../assets/scss/variables.scss";

.label {
  margin-right: 5px;
}

.input-autocomplete {
  .input-with-icon {
    position: relative;

    & > .input {
      width: 110px;

      &:focus {
        &::-webkit-search-cancel-button {
          opacity: 1;
        }

        & + .icon {
          display: none;
        }
      }

      &::-webkit-search-cancel-button {
        position: relative;
        -webkit-appearance: none;
        height: 5px;
        width: 5px;
        right: -7px;
        background: url("../../assets/icons/search-cancel.svg") no-repeat 50%
          50%;
        background-size: contain;
        opacity: 0;
      }
    }

    & > .icon {
      position: absolute;
      top: 12px;
      right: 8px;
    }
  }

  & .autocomplete {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 106px;
    width: 110px;
    background-color: $white;
    border: 1px solid $gray-light;
    z-index: 3;
    overflow-y: auto;
    color: $blue-gray;
    font-size: 11px;

    &__item {
      padding: 8px;

      &:hover {
        color: $blue;
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: $white;
      border-left: 1px solid $gray-light;
    }

    &::-webkit-scrollbar-thumb {
      width: 2px;
      background-color: $gray;
      border-radius: 4px;
      border: 2px solid transparent;
      background-clip: content-box;
    }
  }
}
