@import "../../assets/scss/variables.scss";

.car-setting-page {
  & > .group-card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 28px;
    width: 100%;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;

      & .card__left {
        width: 30%;
        min-width: 334px;
        height: min-content;
      }

      & .card__right {
        width: 70%;
      }
    }
  }

  & .short-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $blue-gray;

    &__car-image {
      object-fit: cover;
      height: 110px;
      width: 244px;
      margin-bottom: 10px;
    }

    &__name {
      font-size: 24.5px;
      line-height: 28px;
      text-align: center;
      letter-spacing: -0.6125px;
      margin-bottom: 4.5px;
    }

    &__category {
      margin-bottom: 10px;
    }
  }

  & .description {
    font-family: "Roboto";
    font-style: normal;

    &__title {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: -0.408571px;
      color: #868e96;
      margin-bottom: 13.5px;
    }

    &__text {
      font-weight: 400;
      font-size: 13.5px;
      line-height: 20px;
      letter-spacing: -0.408571px;
      color: #5a6169;
    }
  }

  & .settings-car {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    padding: 18px;

    &__title {
      margin-bottom: 18px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 17.5px;
      line-height: 21px;
      letter-spacing: -0.4375px;
      color: #3d5170;
    }

    &__form {
      margin: 20px 0;
      font-size: 10.5px;
      line-height: 12px;
      letter-spacing: -0.18421px;
      color: $black;
      height: min-content;

      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      column-gap: 22px;
      row-gap: 28px;
    }

    & .field-form {
      width: 100%;

      @media (min-width: $desktop-width) {
        width: 48.5%;
      }
    }

    & .colors {
      &__actions {
        display: flex;
        justify-content: space-between;

        & > .input {
          width: 88%;
        }
      }

      & .checkbox-list {
        flex-wrap: wrap;
        flex-direction: column;
      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      & .actions__left-side {
        display: flex;
        flex-wrap: wrap;
        column-gap: 12px;
        row-gap: 12px;
      }
    }
  }
}
