@import "../../assets/scss/variables.scss";

.rate-page {
  & .card {
    &__top {
      text-align: end;
    }

    @media (min-width: $tablet-width) {
      width: max-content;
    }

    & .rate {
      &__list {
        min-width: 300px;
        height: 30vh;
        overflow: hidden auto;

        @media (min-width: $tablet-width) {
          width: 685px;
        }

        &::-webkit-scrollbar {
          width: 8px;
          background-color: $white;
          border-left: 1px solid $gray-light;
        }

        &::-webkit-scrollbar-thumb {
          width: 2px;
          background-color: $gray;
          border-radius: 4px;
          border: 2px solid transparent;
          background-clip: content-box;
        }
      }

      &__item,
      &__header {
        width: calc(100%-42px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 21px;
        color: $blue-gray;
        box-shadow: 0px -0.5px 0px #e0e2e8, 0px 0.5px 0px #e0e2e8;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.377143px;
        margin: 0;

        & > .name,
        & > .period,
        & > .price {
          width: 30%;
        }

        & > .button {
          min-width: max-content;
          min-height: max-content;
        }
      }
    }
  }
}
