@import "../../assets/scss/variables.scss";

.sidebar {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 5;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: -0.234375px;

  @media (min-width: $desktop-min-width) {
    display: block;
    box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11),
      0px 2px 4px rgba(90, 97, 105, 0.12), 0px 7.5px 11px rgba(90, 97, 105, 0.1),
      0px 3.5px 17.5px rgba(165, 182, 201, 0.1);
  }

  &.open {
    display: block;
  }

  &__header {
    display: flex;
    column-gap: 11.5px;
    align-items: center;
    color: $blue-gray;
    font-size: 16px;
    line-height: 18px;
    padding: 23px 49px;
    box-shadow: 0px 1px 0px $shadow-gray;

    svg {
      width: 22px;
      height: 22px;
    }

    .header {
      &__toggle {
        position: relative;
        width: 25px;
        height: 25px;
        background-color: $white;
        cursor: pointer;
        border: none;

        &:hover::before,
        &:focus::before,
        &:hover::after,
        &:focus::after {
          background-color: $blue;
        }

        @media (min-width: $desktop-min-width) {
          display: none;
        }
      }

      &__toggle::before,
      &__toggle::after {
        content: "";
        position: absolute;
        top: auto;
        bottom: auto;
        left: 6px;
        width: 16px;
        height: 2px;
        background-color: $blue-gray;
      }

      &__toggle::after {
        transform: rotate(45deg);
      }
      &__toggle::before {
        transform: rotate(-45deg);
      }
    }
  }
}
