@import "../../assets/scss/variables.scss";

.footer {
  background-color: $white;

  & > .main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  & .links {
    display: flex;
    column-gap: 16px;

    & > .link {
      font-size: 14px;
      line-height: 16px;
    }
  }

  & .coopyright {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $gray-dark;
  }
}
